@font-face {
  font-family: "Univers";
  src: url("/src/assets/fonts/UniversBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

/* Univers Condensed Bold Font */
@font-face {
  font-family: "Univers Condensed";
  src: url("/src/assets/fonts/UniversCnBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Noto";
  src: url("/shqipee/src/assets/fonts/NotoSansElbasan-Regular.ttf");}

@font-face {
  font-family: "Albanian";
  src: url("/shqipee/src/assets/fonts/Albanian-Ka2e.ttf");
}

* {
  background: #DBE1D5;
  font-family: "Univers", Noto, Arial, sans-serif;
  max-height: 100%;
}


